<!DOCTYPE HTML>
<html>

<head>
  <style>
    .container {
      background-color: grey;
      position:absolute;
      top:0;left:0;bottom:0;right:0;
      z-index:-1;
      width:100%;height:100%;
    }
    .central_box {
      background-color: white;
      width:385px; height:540px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      text-align: center;
    }
    .logo_box {
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
    }
    .qr_div {
      width:100%; height:80%;
    }
    .qr_img {
      background-color: white;
      width:270px; height:270px;
      border: 1px;
    }
    #msg_box {
      height: auto;
      width: 100%;
      text-align: center;
      font-size: 20px;
      color: grey;
    }
  </style>

  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.rawgit.com/jeromeetienne/jquery-qrcode/master/jquery.qrcode.min.js"></script>
  <!-- <script src="/static/js/jquery.min.js"></script> -->
  <!-- <script src="/static/js/jquery.qrcode.min.js"></script> -->
  <script type="text/javascript">
    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function ws_login() {
      var wsUri = 'ws://' + window.location.host + '/wslogin'
      websocket = new WebSocket(wsUri);
      websocket.onopen = function(evt) {
        console.log(evt);
        websocket.send(JSON.stringify({
          type: 'login',
          openid: getParameterByName('openid'),
        }));
      };
      websocket.onclose = function(evt) {
        console.log(evt);
      };
      websocket.onmessage = function(evt) {
        console.log("/on message");
        console.log(evt);
        console.log("on message/");
        data = JSON.parse(evt.data);
        if (data['type'] == "error") {
          console.log("error: " + data['detail'])
          show_msg("服务器繁忙，请刷新");
        }
        else if (data['type'] == "uuid") {
          console.log("uuid = " + data['uuid'])
          var text = "https://login.weixin.qq.com/l/" + data['uuid'];
          jQuery(function() {
              $('#qr_output').qrcode({
                width: 256,
                height: 256,
                text: text
              });
          });
          show_msg("请使用手机微信扫码登录");
          setTimeout(function() {check_login(data["uuid"])}, 1000);
        }
      };
      websocket.onerror = function(evt) {
        console.log("Error!");
        show_msg("服务器繁忙，请刷新");
      };
    }

    function login() {
      // get uuid from server and generate QR code on webpage
      openid = getParameterByName('openid')
      var uuid_url = "http://"+window.location.host+"/wm/getuuid?openid=" + openid;
      fetch(uuid_url, {method: 'GET'})
      .then(function(response) {
        console.log(response.headers)
        return response.json();
      })
      .then(function(data) {
        console.log(data);
        if (data.type == "uuid") {
          console.log("uuid = " + data.uuid);
          var text = "https://login.weixin.qq.com/l/" + data.uuid;
          jQuery('#qr_output').qrcode({width: 256,
                                    height: 256,
                                    text: text});
          show_msg("请使用手机微信扫码登录");
          // toggle login on server
          login_url = "http://"+window.location.host+"/wm/login?openid="+openid+"&uuid="+data.uuid;
          fetch(login_url, {method: 'GET'}).
          then(function(response) {
            console.log(response.json())
          })
          // checking login status and reflecting it on webpage
          setTimeout(function() {check_login(data.uuid)}, 2000);
        }
        else {
          show_msg("服务器繁忙，请刷新");
        }
      })
    }

    // checking login status and reflecting it on webpage
    function check_login(uuid) {
      openid = getParameterByName('openid')
      var url = "http://"+window.location.host+"/wm/loginstatus?openid="+openid+"&uuid="+uuid;
      fetch(url, {method: 'GET',})
      .then(function(response) {
        console.log(response.headers)
        return response.json();
      })
      .then(function(data) {
        console.log(data);
        if (data.code == "200") {
          show_msg("登录成功");
        }
        else if (data.code == "201") {
          show_msg("请在手机微信上确认登录");
          setTimeout(function() {check_login(uuid)}, 2000);
        }
        else if (data.code == "0") {
          setTimeout(function() {check_login(uuid)}, 2000);
        }
        else {
          show_msg("二维码过期，请刷新网页");
          console.log('unknow status of login')
        }
      });
    }

    function show_msg(msg) {
      $("#msg_box").empty();
      $("#msg_box").append("<p>"+msg+"</p>");
    }

    $(document).ready(function() {
      show_msg("正在获收登入二维码...");
      ws_login();
    });
  </script>
</head>

<body>
  <div id="container" class="container">
    <div id="login_box" class="central_box">
      <div id="logo_box" class="logo_box">
        <p> Wechat Helper </p>
      </div>
      <div id="qrcode_div" class=qr_div>
        <div id="qr_output"></div>
        <div id="msg_box"></div>
      </div>
    </div>
  </div>

</body>

</html>
